<%= form_for current_user, html: { multipart: true } do |f| %>

  <div class="field">
    <%= f.label :email %> <br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :profile_img %> <br />
    <%= f.file_field :profile_img %>
  </div>
  <div class="field">
    <%= f.label :first_name %> <br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %> <br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :dob %> <br />
    <%= f.date_field :dob %>
  </div>
  <div class="field">
    <%= f.label :bio %> <br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :zip %> <br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :country %> <br />
    <%= f.select :country, ["United States"] %>
  </div>
  <div class="field">
    <%= f.label :address %> <br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :state %> <br />
    <%= f.select :state, User::STATES %>
  </div>
  <div class="field">
    <%= f.label :steam %> <br />
    <%= f.text_field :steam %>
  </div>
  <div class="field">
    <%= f.label :xbox %> <br />
    <%= f.text_field :xbox %>
  </div>
  <div class="field">
    <%= f.label :psn %> <br />
    <%= f.text_field :psn %>
  </div>
  <div class="field">
    <%= f.label :twitch %> <br />
    <%= f.text_field :twitch %>
  </div>



  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
