<% title "My Profile" %>

<%= @user.username %>
<!-- <img src="<%= @user.profile_img%>" alt="profile pic" /> -->
<%= image_tag  @user.profile_img.url(:medium ) %> <br>
<%= @user.first_name %> <br>
<%= @user.last_name %> <br>
<%= @user.email %> <br>
<%= @user.country %> <br>
<%= @user.zip %> <br>
<%= @user.address %> <br>
<%= @user.state %> <br>
<%= @user.bio %> <br>
<%= @user.dob %> <br>


  Steam Profile URL: <%= link_to @user.steam, "http://steamcommunity.com/id/#{@user.steam}" %> <br>
Xbox Gamer Tag URL:
  <% if @user.xbox %>
    <%=link_to @user.xbox, "https://account.xbox.com/en-US/Profile?gamerTag=#{(@user.xbox).gsub(" ", "+")}" %> <br>
  <% end %>


PlayStation Network URL: <%= link_to @user.psn, "https://my.playstation.com/#{@user.psn}" %> <br>
Twitch Profile URL: <%= link_to @user.twitch, "https://www.twitch.tv/#{@user.twitch}/profile" %> <br>

<% @user.events.each do |event| %>
  <%= event.name %>
  <%= link_to "Event", event_path(event) %>
<% end %>


<% @users_games.each do |game|%>
  <% if @user == current_user %>
    <%= link_to game.title, "#{@user.id}/#{game.id}", method: :delete, data: {confirm: 'Are you sure you want to delete this game?'} %> <br />
  <% else %>
    <%= game.title %> <br />
  <% end %>
<!-- <img src="<%#game.image%>" alt="game logo" width="100px"/> <br> -->
<% end %>


<div>
  <%= link_to 'Nearby Users', users_path%>
</div>

<% if current_user %>
  <% if current_user.id == @user.id %>
    <%= link_to "Edit", edit_user_path(@user) %>
  <% end %>
<% else %>
  <%= flash[:notice] = "Sign in to edit" %>
<% end %>
