<h2><%= @user.username %>'s Profile</h2>
<!-- <img src="<%= @user.profile_img%>" alt="profile pic" /> -->
<%= image_tag  @user.profile_img.url(:medium ) %> <br>
<strong>Name:</strong>     <%= @user.first_name %> <%= @user.last_name %> <br>
<strong>Bio:</strong> <%= @user.bio %> <br>
<strong>Date of birth:</strong> <%= @user.dob %> <br>

<strong>Address:  <%= @user.address %>
          <%= @user.city %> <br>
          <%= @user.state %>
          <%= @user.zip %> <br>
          <%= @user.country %> <br>
<strong>Steam account:</strong> <%= @user.steam %> <br>
<strong>xbox live:</strong> <%= @user.xbox %> <br>
<strong>Playstation network:</strong> <%= @user.psn %> <br>
<strong>Facebook Profile:</strong> <%= @user.fb %> <br>
<strong>Twitch Profile:</strong> <%= @user.twitch %> <br>
<h3>Events</h3>

<h4> Attending </h4>
    <% @user.events.each do |event| %>
      <% if @user.events_users.where(is_host: nil).map do |x| %>
          <% x.event_id %>
        <% end.include?(event.id) %>
        <%= link_to event.name, event_path(event) %> |
      <% end %>
    <% end %>

<h4> Hosting </h4>
  <% @user.events.each do |event| %>
    <% if @user.events_users.where(is_host: true).map do |x| %>
      <% x.event_id %>
      <% end.include?(event.id) %>
    <%= link_to event.name, event_path(event) %> |
    <% end %>
  <% end %>


<% @games.each do |game|%>
  <table>
    <th>
      Games
    </th> <br />
    <tbody>
      <td><br />
          <%= game.title %> <br />
        <img src="<%=game.image%>" alt="game logo" width="100px"/>
      </td>
    </tbody>
  </table>
<% end %>

<div>
  <%= link_to 'Nearby Users', users_path%>
</div>

<% if current_user %>
  <% if current_user.id == @user.id %>
    <%= link_to "Edit", edit_user_path(@user) %>
  <% end %>
<% else %>
  <%= flash[:notice] = "Sign in to edit" %>
<% end %>
