<% title "My Profile" %>

<%= @user.username %>
<!-- <img src="<%= @user.profile_img%>" alt="profile pic" /> -->
<%= image_tag  @user.profile_img.url(:medium ) %> <br>
<%= @user.first_name %> <br>
<%= @user.last_name %> <br>
<%= @user.email %> <br>
<%= @user.country %> <br>
<%= @user.zip %> <br>
<%= @user.address %> <br>
<%= @user.state %> <br>
<%= @user.bio %> <br>
<%= @user.dob %> <br>
<%= @user.steam %> <br>
<%= @user.xbox %> <br>
<%= @user.psn %> <br>
<%= @user.fb %> <br>
<%= @user.twitch %> <br>

<% @user.events.each do |event| %>
  <%= event.name %>
  <%= link_to "Event", event_path(event) %>
<% end %>

<% @games.each do |game|%>
  <table>
    <th>
      Game
    </th> <br />
    <tbody>
      <td><br />
          <%= game.title %> <br />
        <img src="<%=game.image%>" alt="game logo" width="100px"/>
      </td>
    </tbody>
  </table>
<% end %>

<% if current_user %>
  <% if current_user.id == @user.id %>
    <%= link_to "Edit", edit_user_path(@user) %>
  <% end %>
<% else %>
  <%= flash[:notice] = "Sign in to edit" %>
<% end %>
