<% title "Local Events" %>
<h1>Local Events</h1>

<h2>  <%= @event.name %> </h2>
<%= @event.address %> <br />
<%= @event.city %> <br />
<%= @event.state %> <br />
<%= @event.zip %> <br />
Description: <%= @event.description %> <br />
Hosts: <% @event.events_users.where(is_host: true).each do |hosts|%>
  <%= User.find(hosts.user_id).username %>
<% end %>

  <% if @event.users.include?(current_user) %>
    <%= button_to "I can't make it", @event%>
  <% else %>
    <%= button_to "I'm going", @event%>
  <% end %>


<% if @event.events_users.where(is_host: true).map{|x| x.user_id}.include?(current_user.id) %>
    <%= button_to "Edit Event", edit_event_path, method: :get %>
    <%=   button_to "Delete Event", @event, method: :delete, data: {confirm: 'Are you sure?'}%>
     <% end %>

     <%= button_to "Events", events_path, method: :get %>
