<% title "Popular Games" %>

<div class="games-wrapper">
  <h1>Popular Games</h1>
  <%= form_tag('/add_game', method: "post") do %>
    <ul id="game_images" class="clean-list">
      <% @games.each do | game | %>
          <li class="game-image cap-bot shadow-1">
            <div class="game-frame ">
            <!-- <%#= link_to image_tag(game.image, alt: game.title) %> -->
            <input type="image" src="<%= game.image %>" alt="<%= game.title %>"
                    onClick="$('input[name=game_id]').val('<%= game.id %>');$('form').submit();"  />
            <%= hidden_field_tag :game_id %>
            <!-- <input type="hidden" id="gameId" name="gameId" value="none" /> -->
            <!-- <textarea name="test" rows="8" cols="40">Things and stuff</textarea> -->
            <p><%= game.title %></p>
            </div>
          </li>
      <% end %>
    </ul>
  <% end %>
  <div class="clear-fix"></div>
</div>




<%#= button_to
content_tag(image_tag(game[:url], alt: game[:name]), controller: "games", action: "add_to_user" %>

<!-- , add_game_path(@game), method: :post %> -->
<%#= link_to image_tag(game[:url], alt: game[:name]), controller: "games", action: "add_to_user" %>
<%#= link_to image_tag(game[:url], alt: game[:name]), {controller: "games", action: "add_to_user"}, method: :post %>
<!-- <img src="<%#= game[:url] %>" alt="<%#= game[:name] %>"> -->
<!-- <span><%#= game_img[:name] %></span> -->
